{%load static %}
<footer>
	<div class="container">
		<div class="col-md-8">
		<div>
			<div class="clearfix icon-title">
				Follow CodeCatz on:
			</div>
			<div class="clearfix">
				<a href="https://www.facebook.com/CodeCatz" class="pull-left">
				<span class="fa-stack fa-lg">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
				</a>
				<a href="https://github.com/CodeCatz/TrackCat" title="Fork us">
					<span class="fa-stack fa-lg">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-github fa-stack-1x fa-inverse"></i>
				</a>
			</div>
			<div class="clearfix icon-title">
				Coded by:
			</div>
			<div class="clearfix">
				<a href="{% url 'pages-about' %}">
					<img src="{% static 'img/codecatz_silver_30_30.png' %}" alt="CodeCatz" class="codecatz-logo">
				</a>
			</div>
		</div>		
		</div>
		<div class="copyright col-md-4">
			<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
					<img src="{% static 'img/cc-icons.png' %}" alt="CC Icon" class="cc-icons">
				</a>
			<p class="cc-text">
				Except where otherwise noted, content on this site is licensed under a
				<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
					Creative Commons Attribution 4.0 International license.</a>
			</p>
		</div>
	</div>
</footer>

