{% extends 'base.html' %}

{% block title %}TrackCat Home page{% endblock %}

{% block content %}

		<div>
			<h1><a href="">TrackCat</a></h1>
			<p>A tool for tracking the progress of the kittens (and cat{s,z}) in out CodeCatz meetup group</p>
	</div>

		<div>
			<h2><a href="">Members</a></h2>
			<p>This page will show our awesome CodeCatz members.</p>
		</div>

		<div>
			<h2><a href="/about">About us</a></h2>
			<p>This page will tel you more about us CodeCatz.</p>
		</div>

		<div>
			<h2><a href="/projects">Projects</a></h2>
			<p>This page will show all our projects and who is working on what.</p>
		</div>

		<div>
			<h2><a href="">Login</a></h2>
			<p>This page will be only for cats attending Wednesday's meeting who have their github account setup.</p>
		<div>


{% endblock content %}
