/* Custom page CSS
-------------------------------------------------- */

.login {
	float:left;
}

.logged-in {
	padding-top: 50px;
}

.container .credit {
	margin: 20px;
}

.container {
	margin-top: 20px;
}

#gbCountdown {
	color: #FFFFFF;
}

code {
	font-size: 80%;
}
html,
body {
	height: 100%;
}

#wrap {
	margin-top:110px;
	min-height:100%;
}

/* Image definition in members and member-details */
.members img{
	width: 100px;
	height: 100px;
	margin: 10px;
}

/* Footer: Set the fixed height of the footer here */
footer {
	margin: 20px -5px 10px 0;
	padding-top: 15px;
	font-size: 12px;
	border-top: 10px solid #aecc52;
	display: block;
	background-color: #101010;
}

.deadline {
	color: #FF0000;
}

#address {
	color: #FFFFFF
}

/* CClogo in navbar */
.CClogo {
	height: 40px;
	width: 40px;
	margin: 0 30px 0 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Fit CodeCatz image in navbar-brand. */

.navbar-brand{
	padding: 6px;
	width: 80px;
	height: 40px;
}
.navbar-brand img{
	padding: 0;
	width: 40px;
	height: 40px;
}

/* Links page*/
.links {
	position: relative;
}

p,
h1,
h2,
h3,
h4 {
	font-family: 'Open Sans';
}


/* about page */
.about_list {
	list-style-type: none;
	font-size: 20px;
	color: #5C5C5C;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}


/* paragraph*/
.intro {
	text-align: justify;
	color: #5C5C5C;
	font-size: 12px;
}

/* index page */

#frontpage{
	height: 250px;
	background: url(../img/groupmeet.jpg) no-repeat;
	background-size: 100% auto;
	float:top;
	position: relative;
}

#frontpage_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 80px;
	color: #000000;
	text-align: left;
	width: 350px;
	position: absolute;
	margin: 145px 0px 15px 0px;
}

