/* Sticky footer styles
-------------------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
footer {
	margin: 20px -5px 10px 0;
	padding-top: 15px;
	font-size: 18px;
	border-top: 1px solid #CCCCCC;
	display: block;
}
.footer-links {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.footer-links li {
	list-style-type: none;
	margin-right: 200px;
	text-align: auto;
	font-size: 18px;
}
.h4-footer {
	font-size: 20px;
	border-bottom: 1px solid #CCCCCC;
	border-left-width: 100px;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}
#map-canvas {
    width: 300px;
    height: 250px;
    background-color: #CCC;
  }



/* Lastly, apply responsive CSS fixes as necessary */

.CClogo {
	height: 40px;
	width: 40px;
	margin: 0 30px 0 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.login {
	padding: 10px 0px 5px 990px; 
}
h1 {
	width: 350px;
	text-align: center;
	position: relative; 
	margin:-100px 0 0 -150px;
	padding: 10px;
	top: 120px;
	left: 50%;
}

#frontpage_title {
	border: solid;
	font-family: 'Carter One', cursive;
}
h2 {
	color: #707070; 
	text-align: center;
	position: relative; 
	top: 10px; 
	bottom: 10px;
	font-size: 20px;
	font-family: Arial;
}
h3 {
	text-align: center;
	padding-bottom: 30px; 
}
.container .credit {
	margin: 20px 0;
}
code {
	font-size: 80%;
}

/* Fit CodeCatz image in navbar-brand. */
.navbar-brand{
	padding: 6px;
}
.navbar-brand img{
	height: 100%;
	margin:0px;
}

/* Links page*/
.links {
	text-align: center;
}
/* about page*/
img {
	width: 100px;
	height: 100px;
	margin: 10px;
}
.about_list {
	list-style-type: none;
	font-size: 20px;
	color: #5C5C5C;
}
/* to hide title in the second column of Members*/
.transparent {
	color: transparent;
}
/* paragraph*/
.intro{
	text-align: justify;
	color: #5C5C5C;
	font-size: 20px;
}
strong {
	color: #5C5C5C;
}
/* headding */
.about {
	color: #5C5C5C;
	font-size: 40px;
	padding-top: 30px;
}

#frontpage {
	height: 300px;
	padding: 5px 5px 20px 5px;
}
.jumbotron {
	text-align:center; 
	margin: auto;
}

#front_subtitle {
	top: 140px;
}

/* end of about page */
