/* Sticky footer styles
-------------------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
	padding-right: 20px;
	}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
padding-top: 60px;
}
.container .credit {
margin: 20px 0;
}
code {
font-size: 80%;
}

/* Fit CodeCatz image in navbar-brand. */
.navbar-brand{
	padding: 0px;
}
.navbar-brand img{
	height: 100%;
	margin:0px;
}

/* about page*/
img{
	width: 60px;
	height: 60px;
	margin: 10px;
}
.about_list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.transparent{
	color: transparent;
}
.intro{
	text-align: justify;
	color:#5C5C5C;
}
strong{
	color:#5C5C5C;
}
.about{
	color:#5C5C5C;
}
.jumbotron{
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
}
