/* Sticky footer styles
-------------------------------------------------------------- */

html,
body {
	height: 100%;
	background-color: #D9C5AD;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
footer {
	margin: 20px -5px 10px 0;
	padding-top: 15px;
	font-size: 12px;
	border-top: 1px solid #CCCCCC;
	display: block;
	background-color: #402924; 
}
.footer-links {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.footer-links li {
	list-style-type: none;
	margin-right: 200px;
	text-align: auto;
}

#address {
	color: #FFFFFF
}
.container-fluid {
	background-color: #734F43;
}
.navbar {
	color: #FFFFFF;
	position:fixed!important;
	width: 100%;
	z-index: 9999;
}
/* Lastly, apply responsive CSS fixes as necessary */

.CClogo {
	height: 40px;
	width: 40px;
	margin: 0 30px 0 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.login {
float:left;

}
h1 {
	width: 350px;
	position: relative; 
	margin: 45px 0px 105px -150px;
	padding: 10px;
	top: 120px;
	left: 50%;
}

#frontpage_title {
	border: solid;
	font-family: 'Carter One', cursive;
	font-size: 50px;
	color: #FFFFFF;
	position: fixed;
	text-align: center;
	margin-top: 15px;
}

h2 {
	color: #707070; 
	text-align: center;
	position: relative; 
	top: 10px; 
	bottom: 10px;
	font-size: 20px;
	font-family: Arial;
}
h3 {
	text-align: center;
	padding-bottom: 30px; 
}
.container .credit {
	margin: 20px 0;
}
code {
	font-size: 80%;
}

/* Fit CodeCatz image in navbar-brand. */
.navbar-brand{
	padding: 6px;
}
.navbar-brand img{
	height: 100%;
}

/* Links page*/
.links {
	text-align: center;
	position: relative;
}
/* about page*/
img{
	width: 100px;
	height: 100px;
	margin: 10px;
}
.about_list{
	list-style-type: none;
	font-size: 20px;
	color: #5C5C5C;
}
/* to hide title in the second column of Members*/
.transparent{
	color: transparent;
}
/* paragraph*/
.intro{
	text-align: justify;
	color: #5C5C5C;
	font-size: 20px;
}
strong{
	color: #5C5C5C;
}
/* headding */
.about{
	color: #5C5C5C;
	font-size: 40px;
	padding-top: 30px;
}

#frontpage{
	height: 400px;
	padding: 5px 5px 20px 5px;
	background: url(groupmeet.jpg) no-repeat fixed;
	
}

.jumbotron{
	text-align:center; 
	margin: auto;
	background-color: #F2E8E4;
}


/* end of about page */
