/* Sticky footer styles
-------------------------------------------------------------- */

html,
body {
	height: 100%;

	/* The html and body elements cannot have any padding or margin. */
}

#wrap {
	margin-top:110px;
}

/* Set the fixed height of the footer here */
footer {
	margin: 20px -5px 10px 0;
	padding-top: 15px;
	font-size: 12px;
	border-top: 10px solid #CCCCCC;
	display: block;
	background-color: #101010;
}

.deadline {
	color: #FF0000;
}

.footer-links {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.footer-links li {
	list-style-type: none;
	margin-right: 200px;
	text-align: auto;
}

#address {
	color: #FFFFFF
}

/* Lastly, apply responsive CSS fixes as necessary */
.CClogo {
	height: 40px;
	width: 40px;
	margin: 0 30px 0 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.login {
	float:left;
}

.logged-in {
	padding-top: 50px;
}


#frontpage_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 80px;
	color: #000000;
	text-align: left;
	width: 350px;
	position: absolute;
	margin: 145px 0px 15px 0px;
}

.container .credit {
	margin: 20px;
}

.container {
	margin-top: 20px;
}

#gbCountdown {
	color: #FFFFFF;
}

code {
	font-size: 80%;
}

/* Fit CodeCatz image in navbar-brand. */

.navbar-brand{
	padding: 6px;
	width: 80px;
	height: 40px;
}
.navbar-brand img{
	padding: 0;
	width: 40px;
	height: 40px;
}

/* Links page*/
.links {
	position: relative;
}

#about {
	text-align: center;
}

p,
h1,
h2,
h3,
h4 {
	font-family: 'Open Sans';
}


img{
	width: 100px;
	height: 100px;
	margin: 10px;
}

.about_list {
	list-style-type: none;
	font-size: 20px;
	color: #5C5C5C;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}


/* paragraph*/
.intro {
	text-align: justify;
	color: #5C5C5C;
	font-size: 12px;
}

/* headding */

#frontpage{
	height: 250px;
	background: url(../img/groupmeet.jpg) no-repeat;
	background-size: 100% auto;
	float:top;
	position: relative;
}

.jumbotron p {
	text-align:justify;
	margin: 0 10px 10px;
	font-size: 12px;
}

/* end of about page */

/* member */

.sleepy_cat,
.lazy_cat,
.active_cat,
.mentor_cat{
	font-size: 12px;
}

/* end of member page */
