{% extends 'base.html' %}

{% block title %}CodeCatz - About Us{% endblock %}

{% block content%}

{% load staticfiles %}

	<header class="row">
		<div class="col-lg-6 col-sm-7">
			<h1>About TrackCat</h1>
		</div>
	</header>

		<div class="row">
			<div class="col-md-8">
				<p>TrackCat  was first an ice-breaker to coding for a group of girls in 2014. It is a project created through <a href="http://codecatz.org">CodeCatz</a> - a coding study group where women are always in majority.</p> 
				<p>Since the best way to learn is by doing, we set up this page and along the way learned in practice how HTML, CSS and Django work. Now its time for other projects. What we will create next will be seen in our <a href="/projects"> Projects page</a>.</p>	
			</div>
		</div>
		
{% endblock content%}

