{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ user.fullname }} Profile{% endblock %}

{% block content%}

	<div class="row">
		<div class="member_profile">
			<div class="col-md-12">
			<h2>{% if user.fullname %}
			{{ user.fullname }} 
			{% else %}
			{{ user.username }}
			{% endif %}'s profile Update</h2>
			{% for field in form %}
			{{ field.error }}
			{% endfor %}
			</div>	
		</div>
	</div>	
	<form action="/members/" method="post">
		 {% csrf_token %} 
    	<label for="fullname">Your name: </label>
    	<input id="fullname" type="text" name="fullname" value="{{ user.fullname }}">
    	<input type="submit" name="fullname" value="OK">
	</form>
	
{% endblock content%}
