{% extends 'base.html' %}

{% block title %}All CodeCatz Events{% endblock %}

{% block content%}

	<header class="row">
		<div class="col-lg-6 col-sm-7">
			<h1>All CodeCatz Events</h1>
		</div>
	</header>
	<div class="row">
	{% for event in events_list %}
		<div class="col-md-3 col-xs-6">
			<h3>{{ event.title }}</h3>
			<p><strong>Start Date:</strong></p>
			<p>{{ event.start_date }}</p>
			{% if event.end_date %}
				<p><strong>End Date:</strong></p>
				<p>{{ event.end_date }}</p>
			{% endif %}				
			{% if event.description %}
				<p><strong>Description:</strong></p>
				<p>{{ event.description }}</p>
			{% endif %}		
			{% if event.website %}
				<p><strong>WebSite:</strong></p>
				<p><a href="{{ event.website }}" target="_blank">{{ event.website }}</a></p>
			{% endif %}		
			<p><strong>Location:</strong></p>
			<p>{{ event.location }}</p>
			{% if event.organizer %}
				<p><strong>Organizer:</strong> {{ event.organizer }}</p>
			{% endif %}
		</div>
		{% if forloop.last %}
			</div>
		{% else %}
			{% if forloop.counter|divisibleby:"4" %}
				</div>
				<div class="row">
			{% endif %}
		{% endif %}
	{% empty %}
	<div class="col-lg-6 col-sm-7 alert alert-info">
		<p>There are currently no events.</p>
	</div>
	</div>
	{% endfor %}

{% endblock content%}

