{% extends 'base.html' %}

{% block title %}All CodeCatz Events{% endblock %}

{% block content%}

	<h1>Useful links: </h1>
	<div class="links">
		<p><a href="http://www.designforfounders.com/web-app-ux/">15 Timeless Rules for Creating Intuitive Web Apps (With Examples)</a></p>
		<p><a href="http://goodui.org">Good user interface datastories</a></p>
		<p><a href="http://designschool.canva.com/">Canva</a></p>
		<p><a href="http://tympanus.net/codrops/">Codrops</a></p>
		<p><a href="http://www.cssauthor.com/">CSS author</a></p>
		<p><a href="http://uxporn.uxpin.com/">UXPorn</a></p>
	</div>

{% endblock content%}
