{% extends 'base.html' %}

{% block title %}All CodeCatz Login{% endblock %}

{% block content%}

<div class="container">
	<div class="text-center">
		<h1>Login to TrackCatz with your Github account</h1>
		<p>We make it easier so you don't have to remember yet another password
			<i class="fa fa-smile-o"></i>
		</p>

	</div>
	<div class="login-body">
		<a href="{% url 'social:begin' 'github' %}"
		class="btn btn-block btn-social btn-lg btn-github">
		<i class="fa fa-github-square"></i> Sign in with Github
		</a>
	</div>
</div>
{% endblock content%}

