{% extends 'base.html' %}

{% block title %}All CodeCatz Members{% endblock %}

{% block content%}

{% load staticfiles %}

	<header class="row">
			<h1>Who is who?</h1>
	<div class="row">
		<div>
	<ul class="about_list">
	{% for member in members_list %}
	{% if member.activity_status == '01' %}
		<li><a href="{{member.githubuser}}"><img src="../static/img/{{member.profile_picture}}">{{member.fullname}}</a> (Mentor cat)<li>
	{% endif %}
	{% if member.activity_status == '02' %}
		<li><a href="{{member.githubuser}}"><img src="../static/img/{{member.profile_picture}}">{{member.fullname}}</a> (Active cat)<li>
	{% endif %}
	{% if member.activity_status == '03' %}
		<li><a href="{{member.githubuser}}"><img src="../static/img/{{member.profile_picture}}">{{member.fullname}}</a> (Lazy cat)<li>
	{% endif %}	
	{% if member.activity_status == '04' %}
		<li><a href="{{member.githubuser}}"><img src="../static/img/{{member.profile_picture}}">{{member.fullname}}</a> (Sleepy cat)<li>
	{% endif %}	
	{% endfor %}
	</ul>			
	</div>		

{% endblock content%}
