{% extends 'base.html' %}

{% block content %}
	{% if project %}
		<div class="row">
			<div class="col-md-8 col-xs-6">
				<h1>{{ project.project_name }}</h1>
				{% if perms.api.change_project %}					
					<a class="btn btn-default" href="{% url 'project-edit' project_id=project.project_id %}"><span class="glyphicon glyphicon-pencil"> Edit project</span></a>
				{% endif %}
				{% if perms.api.delete_project %}					
					<a class="btn btn-default" href="{% url 'project-delete' project_id=project.project_id %}"><span class="glyphicon glyphicon-remove"> Delete project</span></a>
				{% endif %}
			</div>
		</div>
		<div class='container'>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p><strong>Description:</strong></p>
				<p>{{ project.project_description }}</p>
				<p><strong>Project launch date:</strong> {{ project.date_created|date:"d.m.Y" }}</p>
				<p><strong>Current status:</strong> {{ project.get_status_display }}</p>
				{% if project.project_deadline %}
					<p><strong>Project deadline:</strong> {{ project.project_deadline|date:"d.m.Y" }}</p>
				{% endif %}
				<p><strong>Repository:</strong> <a href="{{ project.repository_link }}">{{ project.repository_link }}</a></p>
				{% if project.website_production %}
					<p><strong>Production site:</strong> <a href="{{ project.website_production }}">{{ project.website_production }}</a></p>
				{% endif %}
				{% if project.website_test %}
					<p><strong>Test site:</strong> <a href="{{ project.website_test }}">{{ project.website_test }}</a></p>
				{% endif %}
			</div>
			<div class="col-md-6 col-sm-6">
				<p><strong>Project members:</strong></p>
					<div class="row">
						{% for member in member_list %}
							<div class="col-md-4 col-xs-4">
								{% if member.profile_picture %}
									<img class="avatar" src="{{ MEDIA_URL }}{{ member.profile_picture.url|default_if_none:"" }}" alt="{{ member.user.first_name }}" />
								{% endif %}
								<p><a href="{% url 'pages-member-detail' user_id=member.id %}">
									{% if member.user.first_name %}
										{{ member.user.first_name }}
									{% else %}
										{{ member.user.username }}
									{% endif %}
									{% if member.user.last_name %}
										{{ member.user.last_name }}
									{% endif %}
								</a></p>
							</div>
							{% if forloop.last %}
					</div>
							{% else %}
								{% if forloop.counter|divisibleby:"3" %}
					</div>
					<div class="row">
								{% endif %}
							{% endif %}

						{% endfor %}
					</div>
			</div>
		</div>
			<p>
			{% if perms.api.add_project %}
					<a class="btn btn-default" href="{% url 'task-new' project_id=project.project_id %}"><span class="glyphicon glyphicon-plus"> Add new task</span></a>
			{% endif %}
			</p>
		{% if task_list %}
			<p><strong>Tasks:</strong></p>
			<div class="row container">
				{% for task in task_list %}
					<div class="col-md-8 col-xs-6">
						<p>{{ task.title }}, Assigned to: {{ task.assigned_id }}</p>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if not user.is_authenticated %}
			<div class="row">
				<div class="col-md-8 col-xs-6">	
					<p><strong> For update the project you must be logged in. <a href="{% url 'pages-login' %}">Login</a></strong></p>
				</div>
			</div>
		{% endif %}
	</div>
	{% else %}
		<p class="alert alert-warning">This project does not exists in your projects list.</p>
		<p>Return to <a href="{% url 'pages-projects' %}">Projects</a></p>
	{% endif %}
{% endblock content%}
