{% extends 'base.html' %}

{% block content %}
	{% if project %}
		<div class="row">
			<div class="col-md-8 col-xs-6">
				<h3><a href="{% url 'project-detail' project_id=project.project_id %}">{{ project.project_name }}</a></h3>
				<a class="btn btn-default" href="{% url 'project-new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				<a class="btn btn-default" href="{% url 'project-edit' project_id=project.project_id %}"><span class="glyphicon glyphicon-pencil"></span></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-6">
				<p><strong>Project members:</strong></p>
				<p><img src="http://placekitten.com/550/550" alt="" class="img-responsive"></p>
			</div>
			<div class="col-md-8 col-xs-6">
				<p><strong>Project launch date:</strong> {{ project.date_created|date:"d.m.Y" }}</p>
				<p><strong>Current status:</strong> {{ project.get_status_id_display }}</p>
				{% if project.project_deadline %}
					<p><strong>Project deadline:</strong> {{ project.project_deadline|date:"d.m.Y" }}</p>
				{% endif %}
				<p><strong>Repository:</strong> <a href="{{ project.repository_link }}">{{ project.repository_link }}</a></p>
				{% if project.website_production %}
					<p><strong>Production site:</strong> <a href="{{ project.website_production }}">{{ project.website_production }}</a></p>
				{% endif %}
				{% if project.website_test %}
					<p><strong>Test site:</strong> <a href="{{ project.website_test }}">{{ project.website_test }}</a></p>
				{% endif %}
			</div>
		</div>	
		<div class="row">
			<div class="col-md-8 col-xs-6">
				<p><strong>Description:</strong></p>
				<p>{{ project.project_description }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-xs-6">	
				<p><strong> For update the project you must be logged in. <a href="{% url 'pages-login' %}">Login</a></strong></p>
			</div>
		</div>
	{% else %}
		<p class="alert alert-warning">This project does not exists in your projects list.</p>
		<p>Return to <a href="{% url 'pages-projects' %}">Projects</a></p>
	{% endif %}
{% endblock content%}
