{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}" >
{% endblock %}

{% block content %}
	<h1 class="pull-left">{% if editing %}Edit{% else %}Add {% endif %} your project</h1>
	<form method="POST">{% csrf_token %}
		{{ projectform.as_p }}
		<button type="submit" class="save btn btn-default">Save</button>
	</form>
{% endblock content %}

{% block custom_js %}
	<script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
	<script type="text/javascript">
	jQuery(document).ready(function($){
		$("#id_datepicker").datetimepicker({
			timepicker:false,
			format:'Y-m-d'
		});
	});
	</script>
{% endblock custom_js %}
