{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}" >
{% endblock %}

{% block content %}

	{% if invalid_task_id %}
		<p class="alert alert-warning">This task does not exist in your projects.</p>
		<p>Return to <a href="{% url 'pages-tasks' %}">Tasks</a></p>
	{%  else %}	
	<div class="clearfix">
		<h1 class="pull-left">{% if editing %}Edit{% else %}Add{% endif %} your task</h1>
	</div>
		<form enctype="multipart/form-data" method="post" id="project" role="form" class="form-horizontal clearfix">{% csrf_token %}
			<div>
				<div class="form-group {% if taskform.title.errors %}has-error{% endif %}">
					<label for="{{ taskform.title.auto_id }}" class="col-sm-3 control-label">
						{% if taskform.title.field.required %}*{% endif %}
						{{ taskform.title.label }}
					</label>
					<div class="col-sm-9">
						{{ taskform.title }}
					</div>
					{% if taskform.title.errors %}
						<span class="help-block col-sm-9 col-sm-offset-3">{{ taskform.title.errors }}</span>
					{% endif %}
				</div>
				<div class="form-group {% if taskform.description.errors %}has-error{% endif %}">
					<label for="{{ taskform.description.auto_id }}" class="col-sm-3 control-label">
						{% if taskform.description.field.required %}*{% endif %}
						{{ taskform.description.label }}
					</label>
					<div class="col-sm-9">
						{{ taskform.description }}
					</div>
					{% if taskform.description.errors %}
						<span class="help-block col-sm-9 col-sm-offset-3">{{ taskform.description.errors }}</span>
					{% endif %}
				</div>
				<div class="form-group {% if taskform.status.errors %}has-error{% endif %}">
					<label for="{{ taskform.status.auto_id }}" class="col-sm-3 control-label">
						{% if taskform.status.field.required %}*{% endif %}
						{{ taskform.status.label }}
					</label>
					<div class="col-sm-9">
						{{ taskform.status }}
					</div>
					{% if taskform.status.errors %}
						<span class="help-block col-sm-9 col-sm-offset-3">{{ taskform.status.errors }}</span>
					{% endif %}
				</div>
				<div class="form-group {% if taskform.assigned_id.errors %}has-error{% endif %}">
					<label for="{{ taskform.assigned_id.auto_id }}" class="col-sm-3 control-label">
						{% if taskform.assigned_id.field.required %}*{% endif %}
						{{ taskform.assigned_id.label }}
					</label>
					<div class="col-sm-9">
						{{ taskform.assigned_id }}
					</div>
					{% if taskform.assigned_id.errors %}
						<span class="help-block col-sm-9 col-sm-offset-3">{{ taskform.assigned_id.errors }}</span>
					{% endif %}
				</div>
				<div class="form-group {% if taskform.owner_id.errors %}has-error{% endif %}">
					<label for="{{ taskform.owner_id.auto_id }}" class="col-sm-3 control-label">
						{% if taskform.owner_id.field.required %}*{% endif %}
						{{ taskform.owner_id.label }}
					</label>
					<div class="col-sm-9">
						{{ taskform.owner_id }}
					</div>
					{% if taskform.owner_id.errors %}
						<span class="help-block col-sm-9 col-sm-offset-3">{{ taskform.owner_id.errors }}</span>
					{% endif %}
				</div>				
				<div class="form-group {% if taskform.project_id.errors %}has-error{% endif %}">
					<label for="{{ taskform.project_id.auto_id }}" class="col-sm-3 control-label">
						{% if taskform.project_id.field.required %}*{% endif %}
						{{ taskform.project_id.label }}
					</label>
					<div class="col-sm-9">
						{{ taskform.project_id }}
					</div>
					{% if taskform.project_id.errors %}
						<span class="help-block col-sm-9 col-sm-offset-3">{{ taskform.project_id.errors }}</span>
					{% endif %}
				</div>				
				<div class="form-group {% if taskform.deadline.errors %}has-error{% endif %}">
					<label for="{{ taskform.deadline.auto_id }}" class="col-sm-3 control-label">
						{% if taskform.deadline.field.required %}*{% endif %}
						{{ taskform.deadline.label }}
					</label>
					<div class="col-sm-9 input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						{{ taskform.deadline }}
					</div>
					{% if taskform.deadline.errors %}
						<span class="help-block col-sm-9 col-sm-offset-3">{{ taskform.deadline.errors }}</span>
					{% endif %}
				</div>				
			</div>

			<button type="submit" class="save btn btn-default">Save</button>
		</form>
	{% endif %}	

{% endblock content %}
