<!DOCTYPE html>

{% load staticfiles %}
{% load current from navigation %}

<html>
	<head>
		<title>TrackCat - {% block title %}TrackCat{% endblock %}</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>

<!-- Wrap all page content here -->
		<div id="wrap">

		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'pages-index' %}">
						<img alt="CodeCatz" src="{% static 'img/CodeCatz.jpg' %}">
					</a>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="{% current 'pages-about' %}"><a href="{% url 'pages-about' %}">About Us</a></li>
						<li class="{% current 'pages-projects' %}"><a href="{% url 'pages-projects' %}">Projects</a></li>
						<li class="{% current 'pages-members' %}"><a href="{% url 'pages-members' %}">Members</a></li>
						<li class="{% current 'pages-events' %}"><a href="{% url 'pages-events' %}">Events</a></li>
						<li class="{% current 'pages-gallery' %}"><a href="{% url 'pages-gallery' %}">Gallery</a></li>
						<li class="{% current 'pages-login' %}"><a href="{% url 'pages-login' %}">Login</a></li>
						<li class="{% current 'pages-links' %}"><a href="{% url 'pages-links' %}">Links</a></li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			</div><!-- /.container for navigation -->

		<div class="container">
			{% block content %}{% endblock content %}
		</div><!-- /.container for main content -->

		<div id="push"></div>
		</div>

		<footer class="footer">
			<div class="container">
				<a href="https://github.com/CodeCatz">
					<img alt="CodeCatz" src="{% static 'img/CodeCatz.jpg' %}">
					<p>GITHUB CodeCatz: Kittens learning to code like Catz</p>
				</a>
			</div>
		</footer>
		<script  type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
